@keyframes droite {
    0% {
        background-position: -60px -205px;
    }
    16.7% {
        background-position: -130px -205px;
    }
    33.3% {
        background-position: -200px -205px;
    }
    50% {
        background-position: -270px -205px;
    }
    66.6% {
        background-position: -340px -205px;
    }
    83.3% {
        background-position: -410px -205px;
    }
    100% {
        background-position: -60px -205px;
    }
}

#player {
    width: 70px;
    height: 75px;
    background: url("../img/cat_sprite.png");
    background-position: -58px -205px;
}